<section>
    <nav>
        <div class="logoContainer">
            <img src="../../assets/img/Logo.png" alt="logo">
        </div>
    </nav>
    <div class="mainContainer">
        <form (ngSubmit)="onSubmit()" [formGroup]="myForm" class="card" data-aos="fade-left">
            <div class="formHeadline"> 
                <img [routerLink]="['/']" src="../../assets/img/arrow_back.png" alt="arrow_back">
                <h1>Passwort zurücksetzen</h1>
            </div>
            <span>Bitte geben Sie Ihre E-Mail-Adresse ein.</span>
            <div class="loginCt">
                <input
                type="email"
                formControlName="mail"
                (focus)="img.src = '../../assets/img/mail-focus.png'"
                (blur)="img.src = '../../assets/img/mail-Icon.png'"
                placeholder="beispielname&#64;email.com" required>
                <img #img src="../../assets/img/mail-Icon.png" alt="">
                <p
                *ngIf="myForm.get('mail')?.invalid && myForm.get('mail')?.touched"
                class="errorStyle">
                    *Diese E-Mail-Adresse is leider ungültig.
                </p>
            </div>
            <p>Wir senden Ihnen eine E-Mail, über die Sie Ihr Passwort ändern können.</p>
    
            <div class="nextBtn">
                <button
                    type="submit"
                    [ngClass]="{'enabledBtn': myForm.valid, 'disabledBtn': !myForm.valid}"
                    [disabled]="!myForm.valid">
                    E-Mail senden
                </button>
            </div>
        </form>
        <div
        [ngClass]="{bubbleVisible: emailSent}"
        class="feedbackBubble">
            <img src="../../assets/img/send.png" alt="">
            <span>E-Mail gesendet</span>
        </div>
        <div class="footerCt">
            <span [routerLink]="['/imprint']">Impressum</span>
            <span [routerLink]="['/privacyPolicy']">Datenschutz</span>
        </div>
    </div>
</section>