section {
  padding: 40px;
  border-radius: 30px;
  opacity: 0px;
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  gap: 11.5px;
  height: 214px;
  width: 434px;
  position: fixed;
  top: 220px;
  right: 28.5vw;
  width: clamp(200px, 37vw, 434px);
  
}

.channelName {
    display: flex;
    height: 25px;
    >p {
        font-family: Nunito;
        font-size: 18px;
        font-weight: 400;
        line-height: 24.55px;
        text-align: left;
        color: #535AF1;
      }
    
      >span{
        font-family: Nunito;
        font-size: 18px;
        font-weight: 400;
        line-height: 24.55px;
        text-align: left;
        color: #535AF1;
      }
}

.headline {
 width: 100%;
 height: 40px;
 gap: 0px;
 display: flex;
 justify-content: space-between;
 align-items: center;
 opacity: 0px;
    .closeSvgBg{
        width: 40px;
        height: 40px;
        padding: 8px;
        opacity: 0px;
        svg:hover {
            path {
                fill: #535AF1;
            }
            background-color:#ECEEFE;
            border-radius: 20px;
            cursor: pointer;
        }
    }

    >span{
        display: flex;
        width: 400px;
        height: 33px;
        gap: 0px;
        opacity: 0px;
        font-family: Nunito;
        font-size: 24px;
        font-weight: 700;
        line-height: 32.74px;
        text-align: left;
    }
}

.d-none {
 display: none !important;
}


.userlistContainer{
 width: 215px;
 height: 211px;
 display: flex;
 flex-direction: column;
 position: absolute;
 top: 200px;
 left: 80px;
 z-index: 99;
 padding: 40px;
 gap: 20px;
 border-radius: 0px 30px 30px 30px;
 opacity: 0px;
 border: 1px solid #535AF1;
 overflow: auto;
 background-color: #FFFFFF;
     .userList {
         display: flex;
         align-items: center;
         cursor: pointer;
         width: fit-content;
         padding: 0px 15px 0px 15px;
         >div {
             display: flex;
             align-items: center;
             >img{
                 width: 50px;
                 height: 50px;
                 gap: 0px;
                 border-radius: 30px;
                 opacity: 0px;
             }
            
             >svg{
                 display: flex;
                 position: relative;
                 right: 15px;
                 top: 18px;
             }
     
             span {
                 display: flex;
                 position: relative;
                 width: fit-content;
                 height: 25px;
                 gap: 0px;
                 opacity: 0px;
                 font-family: Nunito;
                 font-size: 18px;
                 font-weight: 400;
                 line-height: 24.55px;
                 text-align: left;
             }
         }
     }
 
     .userList:hover {
         background-color: #ECEEFE;
         border-radius: 20px;
     }
}

.userlistContainer::-webkit-scrollbar {
 display: none;
}



.userInput {
 display: flex;
 flex-direction: column;
 overflow: hidden;
 width: calc(100% - 40px);
 height: 55px;
 padding: 0px 20px 0px 20px;
 gap: 30px;
 border-radius: 30px;
 border: 1px;
 opacity: 0px;
 border: 1px solid #ADB0D9;
 cursor: pointer;

 .inputWrapper {
     display: flex;
     height: 65px;
     .selectedList {
         display: flex;
         align-items: center;
         padding: 0px 15px 0px 15px;
            .selectedUser{
             display: flex;
             align-items: center;
             background-color: #ECEEFE;
             border-radius: 20px;
             width: fit-content;
             position: relative;
             right: 20px;
             margin-right: 10px;
                   
             >img{
                 width: 50px !important;
                 height: 50px !important;
                 gap: 0px;
                 border-radius: 30px;
                 opacity: 0px;
             }

             >svg{
                 display: flex;
                 position: relative;
                 right: 15px;
                 top: 18px;
             }
             
             .close{
                 display: flex;
                 position: relative;
                 right: 0px !important;
                 top: 0px !important;
                 svg:hover {
                     path {
                         fill: #535AF1;
                     }
                     cursor: pointer;
                 }
             }

             span {
                 display: flex;
                 position: relative;
                 width: max-content;
                 height: 25px;
                 gap: 0px;
                 opacity: 0px;
                 font-family: Nunito;
                 font-size: 18px;
                 font-weight: 400;
                 line-height: 24.55px;
                 text-align: left;
             }
        }

        .selectedListLength{
            display: flex;
            width: 30px;
            >span {
                position: relative;
                right: 28px;
                z-index: 99;
                height: 25px;
                gap: 0px;
                opacity: 0px;
                font-family: Nunito;
                font-size: 18px;
                font-weight: 400;
                line-height: 24.55px;
                text-align: left;
                padding: 5px;
            }

            >span:hover {
                background-color:#ECEEFE;
                border-radius: 20px;
                
            }
        }
     }
 
     >input {
         display: flex;
         width: 514px;
         height: 55px;
         padding: 0px 20px 0px 20px;
         gap: 30px;
         border: none;
         position: relative;
         top: 1px;
         right: 45px;
         font-family: Nunito;
         font-size: 18px;
         font-weight: 400;
         line-height: 24.55px;
         text-align: left;
         cursor: pointer;
         ::placeholder {
             display: flex;
             width: 514px;
             height: 25px;
             gap: 20px;
             opacity: 0px;
             font-family: Nunito;
             font-size: 18px;
             font-weight: 400;
             line-height: 24.55px;
             text-align: left;
             color: #686868;
         }
     }
 
     input:focus{
         outline: none !important;
     }
 }


}

.errorMessage {
    font-family: Nunito;
    height: 0px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24.55px;
    text-align: left;
    color: red;
    position: relative;
    bottom: 18px;
    left: 24px;
}


.btnContainer{
 display: flex;
 justify-content: flex-end;
 width: 100%;

 button {
     cursor: pointer;
     display: flex;
     justify-content: center;
     width: 125px;
     height: 49px;
     padding: 12px 25px 12px 25px;
     gap: 10px;
     border-radius: 25px;
     opacity: 0px;
     background: #444DF2;
     border: none;
     font-family: Nunito;
     font-size: 18px;
     font-weight: 700;
     line-height: 24.55px;
     text-align: left;
     color: #FFFFFF;
 }

 button:hover {
     background-color: #797EF3;
 }
}

