<nav>
    <div class="logoContainer">
        <img src="../../assets/img/Logo.png" alt="logo">
    </div>
</nav>
<div class="mainContainer">
    <form (ngSubmit)="onSubmit()"
    [formGroup]="myForm"
    class="card"
    data-aos="fade-left">
        <div class="formHeadline"> 
            <img [routerLink]="['/']" src="../../assets/img/arrow_back.png" alt="arrow_back">
            <h1>Passwort zurücksetzen</h1>
        </div>
        <div class="loginCt">
            <input
            type="password"
            formControlName="newPass1"
            placeholder="Neues Passwort" required>
            <p
            *ngIf="myForm.get('newPass1')?.invalid && myForm.get('newPass1')?.touched"
            class="errorStyle">
                *Passwort zu schwach
            </p>
        </div>
        <div class="loginCt">
            <input
            type="password"
            formControlName="newPass2"
            placeholder="Neues Kennwort bestätigen" required>
            <p
            *ngIf="myForm.invalid && myForm.get('newPass2')?.touched"
            class="errorStyle">
                * Ihre Kennwörter stimmen nicht überein
            </p>
        </div>
        <div class="nextBtn">
            <button
                type="submit"
                [ngClass]="{'enabledBtn': myForm.valid,
                'disabledBtn': !myForm.valid}"
                [disabled]="!myForm.valid">
                Passwort ändern
            </button>
        </div>
    </form>
    <div
    [ngClass]="{bubbleVisible: passworChanged}"
    class="feedbackBubble">
        <span>Passwort erfolgreich geändert</span>
    </div>
    <div class="footerCt">
        <span [routerLink]="['/imprint']">Impressum</span>
        <span [routerLink]="['/privacyPolicy']">Datenschutz</span>
    </div>
</div>