<section>
    <nav>
        <div class="logoContainer">
            <img src="/da-bubble/assets/img/Logo.png" alt="logo">
        </div>
    </nav>

    <div class="cardContainer">
        <div class="card">
            <div>
                <div class="formHeadline"> 
                    <img [routerLink]="['/']" src="/da-bubble/assets/img/arrow_back.png" alt="arrow_back">
                    <h1>Impressum</h1>
                </div>
    
                <p>Ishak Ates</p>
                <p>Alte Bockradener Str. 70</p>
                <p>49479 Ibbenb&uuml;ren</p>
                <br><br>
                <p>Kerim Tasci</p>
                <p>Situlistraße 53</p>
                <p>80939 München</p>
                <br><br>
                <p>Simon Weirauch</p>
                <p>Karl-Marx-Str. 4b</p>
                <p>55288 Schornsheim</p>
            </div>
    
            <div>
                <h2>Kontakt</h2>
                <p>Telefon: 01739995710</p>
                <p>E-Mail: contact&#64;ishakates.com</p>
                <p>E-Mail: contact&#64;kerim-tasci.de</p>
                <p>E-Mail: contact&#64;simon.com</p>
    
                <p>Quelle: <a href="https://www.e-recht24.de">e-recht24.de</a></p>
            </div>
        </div>
    </div>

</section>